@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 130 50% 95%; /* Light Greenish */
    --foreground: 0 0% 13%; /* Black */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 128 53% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 130 40% 90%;
    --secondary-foreground: 0 0% 13%;
    --muted: 130 40% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 51 78% 79%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 20% 88%;
    --input: 130 20% 92%;
    --ring: 128 53% 40%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 13%;
    --sidebar-primary: 128 53% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 130 40% 90%;
    --sidebar-accent-foreground: 0 0% 13%;
    --sidebar-border: 130 20% 88%;
    --sidebar-ring: 128 53% 40%;
  }
  .dark {
    --background: 126 15% 10%;
    --foreground: 128 60% 97%;
    --card: 126 15% 15%;
    --card-foreground: 128 60% 97%;
    --popover: 126 15% 10%;
    --popover-foreground: 128 60% 97%;
    --primary: 128 53% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 126 15% 20%;
    --secondary-foreground: 128 60% 97%;
    --muted: 126 15% 20%;
    --muted-foreground: 128 60% 80%;
    --accent: 128 53% 60%;
    --accent-foreground: 126 25% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 126 15% 25%;
    --input: 126 15% 25%;
    --ring: 128 53% 50%;
    --sidebar-background: 126 15% 12%;
    --sidebar-foreground: 128 60% 97%;
    --sidebar-primary: 128 53% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 126 15% 25%;
    --sidebar-accent-foreground: 128 60% 97%;
    --sidebar-border: 126 15% 25%;
    --sidebar-ring: 128 53% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
